export("aTSattr<-")
export("atsAttributes<-")
export(assembleExperimentsPath)
export(assembleMeasureTable)
export(assemblePathName)
export(aTS)
export(aTSattr)
export(atsAttributes)
export(cBindByRowNames)
export(computeIndicesLastBlockEval)
export(computeOrder)
export(computePartitionIndices)
export(computePartitions)
export(computePartitionsATSList)
export(computeTrainingAndTestIndices)
export(denormalizeData)
export(embed.eTS)
export(embedATSDir)
export(embedATSList)
export(endsWith)
export(eTS)
export(evaluateModels)
export(evaluatePredictions)
export(exportToKEELDatasetHomepageDir)
export(extractNameFromPath)
export(firstColToColname)
export(genUsedData)
export(getComment)
export(getConfigDefault)
export(getConfigHercules)
export(getDims)
export(getFileNameFromPath)
export(getFilenameWithoutDatEnding)
export(getInvValues)
export(getLags)
export(getNaiveForecast)
export(getName)
export(getNormParams)
export(getnValues)
export(getOrder)
export(getSelTargets)
export(getTargets)
export(getTimeStamps)
export(getValues)
export(groupATSListByPartitions)
export(importATSListIntoDataRepository)
export(initParallelMode)
export(joinCSVFiles)
export(linearityTest)
export(list.dirs)
export(loadATSDir)
export(loadDataDirToATSList)
export(loadDatDirToATSList)
export(loadDifToATSList)
export(loadKeelDatDirToATSList)
export(loadKeelFile)
export(loadMatToATSList)
export(measureError)
export(measureErrorAll)
export(multiplyIntervalBoundaries)
export(normalize)
export(normalizeATSDir)
export(normalizeData)
export(nSamples)
export(oneLineSummary)
export(oneLineSummaryAll)
export(oneLineSummaryDescStat)
export(oneLineSummaryOtherTests)
export(oneLineSummaryStatNonlin)
export(partitionATSDir)
export(permutationEntropy)
export(plotPartitionsATS)
export(plotPredictions)
export(rBindByColNames)
export(removeFileEnding)
export(runExperiments)
export(runPrediction)
export(runPredictions)
export(saveAsDataPackageATSList)
export(saveATSList)
export(savePartitions)
export(savePlotsATSList)
export(setComment)
export(setName)
export(setNamesATSList)
export(simulateLinearTS)
export(simulateNonlinearTS)
export(simulateStableVarProcess)
export(summaryTableATSList)
export(toKeelATSDir)
export(writeATSListToKeelDirectory)
export(writeATSToKeelFile)
export(writeKeelXmlDescription)
S3method("[",aTS)
S3method("aTSattr<-",aTS)
S3method("atsAttributes<-",aTS)
S3method(computePartitions,aTS)
S3method(computePartitions,eTS)
S3method(getComment,aTS)
S3method(getDims,eTS)
S3method(getInvValues,eTS)
S3method(getLags,eTS)
S3method(getNaiveForecast,eTS)
S3method(getName,aTS)
S3method(getNormParams,aTS)
S3method(getnValues,eTS)
S3method(getOrder,eTS)
S3method(getSelTargets,eTS)
S3method(getTargets,eTS)
S3method(getTimeStamps,aTS)
S3method(getValues,eTS)
S3method(linearityTest,eTS)
S3method(normalize,aTS)
S3method(nSamples,aTS)
S3method(plot,eTS)
S3method(points,eTS)
S3method(save,aTS)
S3method(setComment,aTS)
S3method(setName,aTS)
S3method(summary,aTS)
